* {
    margin: 0;
    padding: 0;
}


.titulo {
    font-size: 50px;
    text-align: center;
    background-color: gray;
}

.subtitulo {
    font-size: 20px;
    text-align: center;
    background-color: gray;
}

.texto {
    font-size: 30px;
    margin-top: 20px;
}

.parrafo {
    font-size: 30px;
}


.barra {
    text-align: center;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}


.pie {
    text-align: center;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}


.product {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.historia {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
